.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 5%;
  padding: 1%;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 1%;
  margin-bottom: 1%;
}

.App-intro {
  font-size: large;
}

.my-label {
  z-index: 1;
}

.leaflet-zoom-animated, .leaflet-interactive {
  z-index: -15;
}

.customCol {
  padding-left: 1%;
  padding-right: 1%;
}
